<div>
  <%= link_to pronunciation_texts_path, class: "fixed lg:left-64 md:left-20 md:top-2 min-[320px]:bottom-20", data: { turbo: false } do %>
    <button class="rounded-full h-11 w-11 bg-transparent border border-gray-300 text-[#172c66] hover:bg-gray-100 ml-2">
       <i class="fa-solid fa-angles-left"></i>
    </button>
  <% end %>
</div>
<div class="text-center my-4 mx-2 text-[#001858]">
  <h1 class="text-2xl font-bold">Weekly Pronunciation Score Ranking</h1>
  <h1 class="text-xl font-bold">(Difficulty: Normal ðŸ˜‡)</h1>
  <p>é€±é–“ç™ºéŸ³ã‚¹ã‚³ã‚¢ãƒ©ãƒ³ã‚­ãƒ³ã‚°</p>
</div>

<div class="w-3/4 mx-auto flex justify-center items-center text-[#172c66] font-semibold">
  <table class="table mx-auto text-center">
    <thead>
      <tr class="text-[#001858]">
        <th class="bg-[#ffd803] border">Rank</th>
        <th class="bg-[#ffd803] border">User</th>
        <th class="bg-[#ffd803] border">Average Score</th>
      </tr>
    </thead>
    <tbody>
      <% @normal_ranking.each do |entry| %>
        <tr>
          <td class="border px-4 py-2">
            <%= entry[:rank] %>
            <% if entry[:rank] == 1 %>ðŸ¥‡<% elsif entry[:rank] == 2 %>ðŸ¥ˆ<% elsif entry[:rank] == 3 %>ðŸ¥‰<% end %>
          </td>
          <td class="border px-4 py-2"><%= entry[:user]&.username || '-' %></td>
          <td class="border px-4 py-2"><%= entry[:score]&.round(2) || '-' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="flex justify-center">
  <% user_entry = @normal_ranking.find { |entry| entry[:user]&.id == @current_user.id && entry[:score].to_f > 0 } %>
  <% if user_entry %>
    <% formatted_score = user_entry[:score].round(2) %>
    <div class="bg-[#bae8e8] p-2 rounded-3xl font-semibold text-[#172c66] mt-5 border-2 border-[#172c66] flex items-center justify-center">
      <%= link_to "https://twitter.com/intent/tweet?url=https://speakup-app.com/&text=#{ERB::Util.url_encode("I am ranked #{user_entry[:rank]} in the Normal mode pronunciation scoring with an average score of #{formatted_score}! \nNormalãƒ¢ãƒ¼ãƒ‰ã®ç™ºéŸ³æŽ¡ç‚¹ã§å¹³å‡ã‚¹ã‚³ã‚¢#{formatted_score}ã§#{user_entry[:rank]}ä½ã«ãƒ©ãƒ³ã‚¯ã‚¤ãƒ³ã—ãŸã‚ˆ! #SpeakUp \n")}", target: "_blank", rel: "noopener" do %>
        ðŸ˜‡ Share on <i class="fa-brands fa-x-twitter font-bold fa-lg"></i>
      <% end %>
    </div>
  <% end %>
</div>
<div class="text-center my-4 mx-2 text-[#001858]">
  <h1 class="text-2xl font-bold">Weekly Pronunciation Score Ranking</h1>
  <h1 class="text-xl font-bold">(Difficulty: Hard ðŸ‘¿)</h1>
  <p>é€±é–“ç™ºéŸ³ã‚¹ã‚³ã‚¢ãƒ©ãƒ³ã‚­ãƒ³ã‚°</p>
</div>

<div class="w-3/4 mx-auto flex justify-center items-center text-[#172c66] font-semibold">
  <table class="table mx-auto text-center">
    <thead>
      <tr class="text-[#001858]">
        <th class="bg-[#ffd803] border">Rank</th>
        <th class="bg-[#ffd803] border">User</th>
        <th class="bg-[#ffd803] border">Average Score</th>
      </tr>
    </thead>
    <tbody>
      <% @hard_ranking.each do |entry| %>
        <tr>
          <td class="border px-4 py-2">
            <%= entry[:rank] %>
            <% if entry[:rank] == 1 %>ðŸ¥‡<% elsif entry[:rank] == 2 %>ðŸ¥ˆ<% elsif entry[:rank] == 3 %>ðŸ¥‰<% end %>
          </td>
          <td class="border px-4 py-2"><%= entry[:user]&.username || '-' %></td>
          <td class="border px-4 py-2"><%= entry[:score]&.round(2) || '-' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="flex justify-center">
  <% user_entry = @hard_ranking.find { |entry| entry[:user]&.id == @current_user.id && entry[:score].to_f > 0 } %>
  <% if user_entry %>
    <% formatted_score = user_entry[:score].round(2) %>
    <div class="bg-[#bae8e8] p-2 rounded-3xl font-semibold text-[#172c66] mt-5 border-2 border-[#172c66] flex items-center justify-center">
      <%= link_to "https://twitter.com/intent/tweet?url=https://speakup-app.com/&text=#{ERB::Util.url_encode("I am ranked #{user_entry[:rank]} in the Hard mode pronunciation scoring with an average score of #{formatted_score}! \nHardãƒ¢ãƒ¼ãƒ‰ã®ç™ºéŸ³æŽ¡ç‚¹ã§å¹³å‡ã‚¹ã‚³ã‚¢#{formatted_score}ã§#{user_entry[:rank]}ä½ã«ãƒ©ãƒ³ã‚¯ã‚¤ãƒ³ã—ãŸã‚ˆ! #SpeakUp \n")}", target: "_blank", rel: "noopener" do %>
        ðŸ‘¿ Share on <i class="fa-brands fa-x-twitter font-bold fa-lg"></i>
      <% end %>
    </div>
  <% end %>
</div>