<div class="flex justify-center mt-10">
  <h1 class="text-3xl font-semibold text-neutral-600" >Shadowing Practice</h1>
</div>
<div role="tablist" class="tabs tabs-bordered mt-4">
    <%= link_to 'All', videos_index_path, id:"tab0", role: 'tab', class: 'tab'%>
  <%= link_to 'Beginner', videos_index_path(q: { difficulty_eq: 'Beginner' }), id:"tab1", role: 'tab', class: 'tab'%>
  <%= link_to 'Intermediate', videos_index_path(q: { difficulty_eq: 'Intermediate' }), id:"tab2", role: 'tab', class: 'tab'%>
  <%= link_to 'Advanced', videos_index_path(q: { difficulty_eq: 'Advanced' }), id:"tab3", role: 'tab', class: 'tab'%>
</div>
<div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center m-10 videos-list">
  <% @videos.each do |video| %>
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <%= image_tag "https://img.youtube.com/vi/#{video.video_id}/mqdefault.jpg", alt: video.title %>
      </figure>
      <div class="card-body">
        <h2 class="card-title text-neutral-600">
          <%= link_to video.title, video_path(video) %>
        </h2>
      </div>
    </div>
  <% end %>
</div>
<div class="flex justify-center mb-4 ">
  <% if @videos.prev_page %>
    <%= link_to '«', videos_index_path(page: @videos.prev_page), class: 'join-item btn' %>
  <% else %>
    <button class="join-item btn" disabled>«</button>
  <% end %>

  <%#現在のページ番号 %>
  <button class="join-item btn">Page <%= @videos.current_page %></button>

  <% if @videos.next_page %>
    <%= link_to '»', videos_index_path(page: @videos.next_page), class: 'join-item btn' %>
  <% else %>
    <button class="join-item btn" disabled>»</button>
  <% end %>
</div>

