<div class="flex justify-center text-[#172c66] font-semibold min-[320px]:my-2 md:mt-5 text-center">
    <h1><%= @video.title %></h1>
</div>
<div class="flex justify-center items-center md:mt-5">
  <iframe class="min-[320px]:w-full md:w-[640px] aspect-video" src="https://www.youtube-nocookie.com/embed/<%= @video.video_id %>?autoplay=0&controls=1&cc_lang_pref=en&cc_load_policy=0&disablekb=1&modestbranding=1&rel=0&color=white&fs=0&iv_load_policy=3" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>

  <div class="flex justify-center items-center mt-3 mb-1 text-[#172c66]">
    <button class="mr-3 w-12 h-12 border-2 border-[#172c66] rounded-full flex items-center justify-center" id="recordButton" style="display: block;"><i class="fa-solid fa-microphone fa-lg"></i></button>
    <button class="mr-3 w-12 h-12 border-2 border-[#172c66] rounded-full flex items-center justify-center" id="stopButton" style="display: none;"><i class="fa-regular fa-circle-stop fa-lg"></i></button>
    <audio controls id="audioPlayer"></audio>
  </div>
  <div class="text-center text-[#172c66]">
    <p class="text-sm font-semibold">☝️ You can record yourself here!</p>
    <p class="text-xs">(録音して自分の英語を聞いてみよう!)</p>
  </div>

<div class="md:bg-base-200 border-grey-200 md:border-2 w-auto rounded-2xl m-5">
  <div class="overflow-y-auto md:h-[460px] min-[320px]:h-[350px] text-lg text-center p-10 text-[#172c66]">
    <% @video.transcript.content.split("\n").each do |line| %>
      <% line.split(" ").each do |word| %>
        <% cleaned_word = clean_word(word) %>
        <% if current_user.words.where("LOWER(english_word) = ?", cleaned_word.downcase).exists? %>
          <% word_record = current_user.words.find_by("LOWER(english_word) = ?", cleaned_word.downcase) %>
          <div class="tooltip tooltip-warning text-[#172c66]" data-tip="<%= word_record.meaning %>">
            <span class="text-warning font-semibold"><%= word %></span>
          </div>
        <% else %>
          <span><%= word %></span>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'voice_recording', defer: true %>