<div class="flex justify-center text-[#172c66] font-semibold min-[320px]:my-2 md:mt-5 text-center">
    <h1><%= @video.title %></h1>
</div>
<div class="flex justify-center items-center md:mt-5">
  <iframe class="min-[320px]:w-full md:w-[640px] aspect-video" src="https://www.youtube-nocookie.com/embed/<%= @video.video_id %>?autoplay=0&controls=1&cc_lang_pref=en&cc_load_policy=0&disablekb=1&modestbranding=1&rel=0&color=white&fs=0&iv_load_policy=3" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>

  <div class="flex justify-center items-center mt-3 mb-1 text-[#172c66]">
    <button class="mr-3 w-12 h-12 border-2 border-[#172c66] rounded-full flex items-center justify-center" id="recordButton" style="display: block;"><i class="fa-solid fa-microphone fa-lg"></i></button>
    <button class="mr-3 w-12 h-12 border-2 border-[#172c66] rounded-full flex items-center justify-center" id="stopButton" style="display: none;"><i class="fa-regular fa-circle-stop fa-lg"></i></button>
    <audio controls id="audioPlayer"></audio>
  </div>
  <div class="flex justify-center">
    <div class="text-center text-[#172c66]">
      <p class="text-sm font-semibold">☝️ You can record yourself here!</p>
      <p class="text-xs">(録音して自分の英語を聞いてみよう!)</p>
    </div>
    <div>
      <button class="rounded-full h-9 w-9 bg-[#ffd803] ml-2" onclick="how_to_shadow.showModal()">
        <i class="fa-solid fa-question fa-lg"></i>
      </button>
    </div>
  </div>
<div class="flex justify-center">
  <div class="md:bg-base-200 border-grey-200 md:border-2 md:w-2/3 min-[320px]:w-full rounded-2xl m-5">
    <div class="overflow-y-auto md:h-[460px] min-[320px]:h-[350px] md:text-lg min-[320px]:text-sm text-center p-10 text-[#172c66]">
      <% @video.transcript.content.split("\n").each do |line| %>
        <% line.split(" ").each do |word| %>
          <% cleaned_word = clean_word(word) %>
          <% word_record = @user_words.find { |w| w.english_word.downcase == cleaned_word.downcase } %>
          <% if word_record %>
            <div class="tooltip tooltip-warning text-[#172c66]" data-tip="<%= word_record.meaning %>">
              <span class="text-warning font-semibold"><%= word %></span>
            </div>
          <% else %>
            <span><%= word %></span>
          <% end %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
</div>
<div class="fixed right-5 md:bottom-8 min-[320px]:bottom-20 bookmark-button rounded-full w-12 h-12 text-center items-center bg-[#bae8e8] border-2 border-[#172c66] text-[#172c66] flex justify-center">
  <turbo-frame id="like_button_<%= @video.id %>">
      <%= render "videos/like_button", video: @video %>
  </turbo-frame>
</div>

<dialog id="how_to_shadow" class="modal">
  <div class="modal-box">
    <h2 class="text-2xl font-semibold text-center text-[#001858]">How to do Shadowing?</h2>
    <h2 class="text-lg font-bold text-center mb-5 text-[#001858]">シャドーイング方法</h2>
    <div class="flex justify-center">
      <p class="text-sm text-[#172c66]">
        動画を再生し、話し手の話す速度に置いていかれないように用意されたトランスクリプトを読み上げてみよう!
        動画の再生速度を変えたり、止めたりして何度も練習して、話し手と同じ速度で話せるように頑張って!
        自信が持てたら、自分の声を録音して動画の音声と聴き比べてみて👂話し方、発音も真似てみてね!
        右下の保存ボタンで動画を保存したら、動画一覧のSavedタブからお気に入りの動画にすぐにアクセスできるから活用してね🌟 Go Go!
      </p>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<%= javascript_include_tag 'voice_recording', defer: true %>