<!-- 大きな画面用のサイドバー -->
<div class="hidden lg:block">
  <div id="docs-sidebar" class="fixed top-0 start-0 bottom-0 z-[60] w-64 bg-[#bae8e8] border-e-2 border-[#001858] pt-7 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
    <div class="px-6 flex justify-center">
      <%= link_to root_path, class: "flex-none text-xl font-bold text-[#001858]" do %>
        <%= image_tag("logo.png", alt: "SpeakUp Logo", size: "130x30") %>
      <% end %>
    </div>
    <nav class="hs-accordion-group p-6 w-full flex flex-col flex-wrap text-[#172c66]" data-hs-accordion-always-open>
      <ul class="space-y-2.5 font-semibold">
        <li>
          <%= link_to new_user_registration_path, class:"flex items-center gap-x-2.5 py-2 px-2.5 text-sm rounded-lg hover:bg-gray-100" do %>
            <i class="fa-solid fa-user-plus fa-xl"></i>
            Sign Up
          <% end %>
        </li>

        <li>
          <%= link_to new_user_session_path, class:"flex items-center gap-x-3.5 py-2 px-2.5 text-sm rounded-lg hover:bg-gray-100" do %>
            <i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i>
            Login
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- 中くらいの画面用のサイドバー -->
<div class="hidden md:block lg:hidden">
  <div id="sidebar-mini" class="fixed top-0 start-0 bottom-0 z-[60] w-20 bg-[#bae8e8] border-e-2 border-[#001858] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 ">
    <div class="flex flex-col justify-center items-center gap-y-2.5 py-4 text-[#172c66]">
      <div class="mb-4 font-bold text-[#001858]">
         <%= link_to '/', class: "flex-none text-xl font-semibold" do %>
          <i class="fa-solid fa-s fa-xl"></i>
        <% end %>
      </div>

      <div class="hs-tooltip inline-block [--placement:right]">
        <%= link_to new_user_registration_path, class:"flex items-center gap-x-3.5 py-4 px-2.5 text-sm rounded-lg hover:bg-gray-100" do %>
            <i class="fa-solid fa-user-plus fa-xl"></i>
          <% end %>
      </div>

      <div class="hs-tooltip inline-block [--placement:right]">
        <%= link_to new_user_session_path, class:"flex items-center gap-x-3.5 py-4 px-2.5 text-sm rounded-lg hover:bg-gray-100" do %>
            <i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i>
          <% end %>
      </div>
    </div>
  </div>
</div>

<!-- スマホ用のヘッダー -->
<div class="flex flex-wrap md:hidden sm:justify-start sm:flex-nowrap w-full bg-[#bae8e8] text-sm py-2">
  <nav class="max-w-[85rem] w-full mx-auto px-4 text-[#172c66]" aria-label="Global">
    <div class="flex items-center justify-between">
      <div>
        <%= link_to root_path, class: "flex-none text-2xl font-bold text-[#001858]" do %>
          <%= image_tag("logo.png", alt: "SpeakUp Logo", size: "65x20") %>
        <% end %>
      </div>
      <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="flex items-center py-5 px-3 text-sm rounded-lg hover:bg-gray-100">
        <i class="fa-solid fa-bars fa-xl"></i>
      </div>
      <ul tabindex="0" class="dropdown-content z-[2] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <%= link_to new_user_registration_path, class:"flex items-center gap-x-3.5 py-2 px-2.5 text-sm rounded-lg hover:bg-gray-100" do %>
            <i class="fa-solid fa-user-plus fa-xl"></i>
            Sign Up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path, class:"flex items-center gap-x-3.5 py-2 px-2.5 text-sm rounded-lg hover:bg-gray-100" do %>
            <i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i>
            Login
          <% end %>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</div>
