<div class="">
<nav class="grid grid-flow-col gap-4">
  <%= link_to "Contact", "https://forms.gle/gcoRjAkbdoTafabZ7", target: "_blank" %>
  <%= link_to "Privacy Policy", page_path('privacy_policy') %>
  <%= link_to "Terms Of Use", page_path('terms_of_use') %>
</nav> 
<nav>
  <div class="grid grid-flow-col gap-0">
    <%= link_to "https://twitter.com/Erika_jpn_328", target: "_blank" do %>
      <i class="fa-brands fa-x-twitter fa-lg"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/erika-watanabe-59128b215/", target: "_blank" do %>
      <i class="fa-brands fa-linkedin fa-lg"></i>
    <% end %>
  </div>
</nav> 
<aside>
  <p>Copyright © 2024 - SpeakUp</p>
</aside>
</div>
