<div class="max-w-md mx-auto text-[#172c66]">   
  <%= search_form_for @q, url: url, method: :get, remote: true do |f| %>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <%= f.search_field :english_word_or_meaning_cont, id: "default-search", class: "block w-full p-4 ps-10 text-sm border border-gray-300 rounded-3xl bg-gray-50", placeholder: 'Search words (登録した単語)' %>
      <%= f.submit 'Search', class: "hover:cursor-pointer text-[#001858] absolute end-2.5 bottom-2.5 bg-[#ffd803] hover:bg-[#bae8e8] focus:outline-none font-medium rounded-3xl text-sm px-4 py-2", data: {turbo: false} %>
    </div>
    <div class="mt-2">
      <%= f.select :part_of_speech_eq, options_for_select([["Part of speech (品詞)", ""]] + ["noun (名詞)", "pronoun (代名詞)", "verb (動詞)", "adjective (形容詞)", "adverb (副詞)", "preposition (前置詞)", "conjunction (接続詞)", "interjection (間投詞)"], @q.part_of_speech_eq), {}, class: "block w-full p-2 text-sm border border-gray-300 rounded-3xl bg-gray-50", id: "part-of-speech-select" %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'search', defer: true %>