<div class="text-[#172c66]">
<div class="flex justify-center mt-3">
  <h1 class="text-3xl font-semibold text-[#001858]" >Hello, <%= current_user.username %>!</h1>
</div>
<div class="flex justify-center">
  <p class="text-md">You have <span class="text-2xl text-warning font-bold"><%= current_user.words.count %></span> words in your vocabulary book!</p>
</div>
<div class="flex items-center justify-center my-3 gap-3">
  <div class="flex items-center justify-center bg-[#ffd803] rounded-3xl font-semibold text-[#172c66]">
    <%= link_to random_words_path, data: {"turbo" => false} do %>
      <p class="text-[#172c66] font-semibold p-2 text-center flex items-center"><span class="text-xl">📖</span> Review Words</p>
    <% end %>
  </div>
  <div class=" bg-[#172c66] p-2 font-semibold text-white w-10 h-10 flex items-center justify-center rounded-full">
    <%= link_to "https://twitter.com/intent/tweet?url=https://speakup.fly.dev&text=#{ERB::Util.url_encode("I have #{current_user.words.count} words in my vocabulary book!新しい単語を登録したよ! #SpeakUp \n")}", target: "_blank", rel: "noopener" do %>
      <i class="fa-brands fa-x-twitter font-bold"></i>
    <% end %>
  </div>
</div>
</div>
<!-- 検索フォーム -->
<div class="mx-5">
<%= render 'search_form', q: @q, url: words_path %>
</div>
<!-- 単語一覧 -->
<% if @words.present? %>
  <div class="grid md:grid-cols-4 lg:grid-cols-5 min-[320px]:grid-cols-2 gap-4 place-items-center justify-center m-5">
    <% @words.each do |word| %>
      <%= render 'word', word: word %>
    <% end %>
  </div>
<% else %>
  <div class="mt-5 text-center text-[#172c66]">
    登録されている単語がありません。<br>
    There are no words.
  </div>
<% end %>

<% if @words.total_count > 24 %>
  <div class="flex justify-center mb-4 join mt-20 ">
    <% if @words.prev_page %>
      <%= link_to '«', words_path(page: @words.prev_page), class: 'join-item btn', data: {"turbo" => false} %>
    <% else %>
      <button class="join-item btn" disabled>«</button>
    <% end %>

    <%#現在のページ番号 %>
    <button class="join-item btn">Page <%= @words.current_page %></button>

    <% if @words.next_page %>
      <%= link_to '»', words_path(page: @words.next_page), class: 'join-item btn', data: {"turbo" => false} %>
    <% else %>
      <button class="join-item btn" disabled>»</button>
    <% end %>
  </div>
<% end %>
<div class="fixed right-5 md:bottom-8 min-[320px]:bottom-14">
  <button class="btn bg-[#ffd803]" onclick="how_to_word.showModal()">
    <i class="fa-solid fa-question fa-xl"></i>
  </button>
</div>
<dialog id="how_to_word" class="modal">
  <div class="modal-box">
    <h2 class="text-2xl font-semibold text-center text-[#001858]">How to use?</h2>
    <h2 class="text-lg font-bold text-center mb-5 text-[#001858]">使い方</h2>
    <div class="flex justify-center">
      <p class="text-sm text-[#172c66]">
        メニューの＋マーク(Add New Words)から単語を登録して、自分だけの単語帳を作ろう!登録した単語はこのページに一覧で表示されるよ。
        登録した単語やその意味、品詞で検索がかけられてスピーカーボタンで発音を聞くこともできるよ!
        📖Review Wordsボタンでは、登録した単語をテストできるから1日1回を目標に復習しよう! Let's go!
      </p>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>