<div class="flex justify-center">
  <h1 class="text-3xl font-semibold" >Hello, <%= current_user.username %>!</h1>
</div>
<!-- 検索フォーム -->
<%= render 'search_form', q: @q, url: words_path %>
<!-- 掲示板一覧 -->
<div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center m-10">
      <% if @words.present? %>
        <% @words.each do |word| %>
          <%= render 'word', word: word %>
        <% end %>
      <% else %>
        <div>
          登録された単語がありません。<br>
          There are no words.
        </div>
      <% end %>
</div>
<% if @words.total_count > 11 %>
  <div class="flex justify-center mb-4 ">
    <% if @words.prev_page %>
      <%= link_to '«', words_path(page: @words.prev_page), class: 'join-item btn' %>
    <% else %>
      <button class="join-item btn" disabled>«</button>
    <% end %>

    <%#現在のページ番号 %>
    <button class="join-item btn">Page <%= @words.current_page %></button>

    <% if @words.next_page %>
      <%= link_to '»', words_path(page: @words.next_page), class: 'join-item btn' %>
    <% else %>
      <button class="join-item btn" disabled>»</button>
    <% end %>
  </div>
<% end %>