<div class="justify-center text-center items-center mb-5 mt-5 border-b-2 border-b-gray-200">
  <h1 class="text-3xl font-semibold text-[#001858]">Review Your Words</h1>
  <p class="text-sm text-[#172c66]">単語帳の振り返り</p>
  <p class="text-sm text-[#172c66] mb-3"><%= @words_count_due_today %> word(s) left for today.</p>
</div>
<div class="text-center text-[#172c66]">
<% if @word %>
  <div class="word-card">
    <h2 class="text-3xl font-semibold my-5"><%= @word.english_word %></h2>
    <p class="text-2xl font-semibold mb-5"><%= @word.part_of_speech %></p>
    <div class="text-2xl font-semibold mb-5" id="meaning" style="display: none;">
      <p><%= @word.meaning %></p>
      <p class="text-sm mt-2"><%= @word.example%></p>
    </div>
    <i class="hover:cursor-pointer fa-solid fa-volume-high fa-xl" id="speak-button"></i>
    <div class="flex items-center justify-center mt-5">
      <button id="show-buttons" class="border-2 border-[#172c66] bg-white rounded-3xl p-2" onclick="document.getElementById('meaning').style.display = 'block'">Meaning</button>
    </div>
    <div id="review-buttons" style="display: none;">
      <div class="flex items-center justify-center gap-4 my-5">
        <%= button_to update_review_status_word_path(@word, status: 'easy'), method: :patch, class: 'btn bg-[#bae8e8] block w-24', data: {"turbo" => false}  do %>
          Easy
          <br>
          <span class="text-xs">5 days</span>
        <% end %>
        
        <%= button_to update_review_status_word_path(@word, status: 'normal'), method: :patch, class: 'btn bg-[#ffd803] block w-24', data: {"turbo" => false}  do %>
          Normal
          <br>
          <span class="text-xs">1 day</span>
        <% end %>
        
        <%= button_to update_review_status_word_path(@word, status: 'hard'), method: :patch, class: 'btn bg-[#001858] text-white block w-24', data: {"turbo" => false}  do %>
          Hard
          <br>
          <span class="text-xs">1 min</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= javascript_include_tag 'review_buttons', defer: true %>