<div class="fixed lg:left-64 md:left-20 md:top-2 min-[320px]:bottom-20">
  <%= button_to "javascript:history.back()", method: :get, data: {turbo: false}, class: "rounded-full h-11 w-11 bg-transparent border border-gray-300 text-[#172c66] hover:bg-gray-100 ml-2" do %>
    <i class="fa-solid fa-angles-left"></i>
  <% end %>
</div>
<div class="justify-center text-center items-center mb-5 mt-5 border-b-2 border-b-gray-200">
  <h1 class="text-3xl font-semibold text-[#001858]">Review Your Words</h1>
  <p class="text-sm text-[#172c66]">単語帳の振り返り</p>
  <p class="text-sm text-[#172c66] mb-3"><%= @words_count_due_today %> word(s) left for today.</p>
</div>
<div class="text-center text-[#172c66]">
<% if @word %>
  <div class="word-card px-6">
    <h2 class="text-3xl font-semibold my-5"><%= @word.english_word %></h2>
    <p class="text-xl font-semibold mb-5"><%= @word.part_of_speech %></p>
    <i class="hover:cursor-pointer fa-solid fa-volume-high fa-xl" id="speak-button"></i>
    <div class="text-lg font-semibold my-5" id="meaning" style="display: none;">
      <p><%= simple_format(@word.meaning) %></p>
      <br>
      <p><%= simple_format(@word.example) %></p>
    </div>
    <div class="flex items-center justify-center mt-5">
      <button id="show-buttons" class="border-2 border-[#172c66] bg-white rounded-3xl p-2" onclick="document.getElementById('meaning').style.display = 'block'">Meaning</button>
    </div>
    <div id="review-buttons" style="display: none;">
      <div class="flex items-center justify-center gap-4 my-5">
        <%= button_to update_review_status_word_path(@word, status: 'easy'), method: :patch, class: 'btn bg-[#bae8e8] block w-24', data: {"turbo" => false}  do %>
          Easy
          <br>
          <span class="text-xs">5 days</span>
        <% end %>
        
        <%= button_to update_review_status_word_path(@word, status: 'normal'), method: :patch, class: 'btn bg-[#ffd803] block w-24', data: {"turbo" => false}  do %>
          Normal
          <br>
          <span class="text-xs">1 day</span>
        <% end %>
        
        <%= button_to update_review_status_word_path(@word, status: 'hard'), method: :patch, class: 'btn bg-[#001858] text-white block w-24', data: {"turbo" => false}  do %>
          Hard
          <br>
          <span class="text-xs">1 min</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="fixed right-5 md:bottom-8 min-[320px]:bottom-20">
  <button class="btn bg-[#ffd803]" onclick="how_to_review.showModal()">
    <i class="fa-solid fa-question fa-xl"></i>
  </button>
</div>
<dialog id="how_to_review" class="modal">
  <div class="modal-box">
    <h2 class="text-2xl font-semibold text-center text-[#001858]">How to use?</h2>
    <h2 class="text-lg font-bold text-center mb-5 text-[#001858]">使い方</h2>
    <div class="flex justify-center">
      <p class="text-sm text-[#172c66]">
        単語帳に登録した単語がランダムに出題されるよ。意味はなんだったかな?頭の中で考えてから、Meaningボタンを押して答えを見てみてね!
        記憶に自信があったらEasy、少し不安ならNormal、覚えてなかったらHardを押してね。それぞれボタンに書いてある時間が経過するまで出題されなくなるよ!<br>
        Enjoy learning!
      </p>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<%= javascript_include_tag 'review_buttons', defer: true %>