<!DOCTYPE html>
<html>
  <head>
    <title>SpeakUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/1c1f3980e3.js" crossorigin="anonymous"></script>
  </head>

  <body class="flex flex-col h-screen bg-base-100">
    <header class="rounded">
      <%= render 'shared/header' %>
    </header>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <footer class="footer footer-center p-10 bg-neutral text-base-content rounded mt-auto">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
