<!DOCTYPE html>
<html>
  <head>
    <title>SpeakUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- IOS用のファビコン -->
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon-180x180.png') %>" sizes="180x180">
    <!-- Android用のファビコン -->
    <link rel="icon" type="image/png" href="<%= asset_path('android-chrome-192x192.png') %>" sizes="192x192">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Erika_jpn_328" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="SpeakUp" />
    <meta property="og:description" content="SpeakUpで英語学習。スピーキング力を向上させよう!" />
    <meta property="og:image" content="<%= image_url "Xcard.png" %>" />
    <%= include_gon %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/1c1f3980e3.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B9J5YPVCY9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-B9J5YPVCY9');
    </script>
  </head>

  <body class="flex flex-col h-screen bg-base-100">
    <header class="rounded">
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    </header>
    <main class="flex-grow bg-[#fffffe]">
      <div class="lg:ml-64 md:ml-20 md:mb-36">
        <div id="flash">
          <%= render "shared/flash_messages" %>
        </div>
        <%= yield %>
        <input type="checkbox" id="my_modal" class="modal-toggle hidden"  />
        <div class="modal" role="dialog">
          <div class="modal-box">
            <%= render "words/new" %>
          </div>
          <label class="modal-backdrop" for="my_modal">Close</label>
        </div>
      </div>
    </main>
    <footer class="footer footer-center p-10 base-100 text-base-300 rounded mt-auto gap-y-1 bg-[#fffffe]">
      <div class="lg:ml-64 md:ml-20 min-[320px]:mb-10 md:mb-0">
        <%= render 'shared/footer' %>
      </div>
    </footer>
  </body>
</html>
