<!DOCTYPE html>
<html>
  <head>
    <title>SpeakUp</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- IOS用のファビコン -->
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon-180x180.png') %>" sizes="180x180">
    <link
      rel="apple-touch-startup-image"
      href="<%= asset_path('launch-640x1136.png') %>"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    />
    <link
      rel="apple-touch-startup-image"
      href="<%= asset_path('launch-750x1334.png') %>"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    />
    <link
      rel="apple-touch-startup-image"
      href="<%= asset_path('launch-1080x1920.png') %>"
      media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
    />
    <link
      rel="apple-touch-startup-image"
      href="<%= asset_path('launch-1125x2436.png') %>"
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
    />
    <link
      rel="apple-touch-startup-image"
      href="<%= asset_path('launch-828x1792.png') %>"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    />
    <link
      rel="apple-touch-startup-image"
      href="<%= asset_path('launch-1242x2688.png') %>"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
    />
    <link
      rel="apple-touch-startup-image"
      href="<%= asset_path('launch-1170x2532.png') %>"
      media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
    />
    <link
      rel="apple-touch-startup-image"
      href="<%= asset_path('launch-1284x2778.png') %>"
      media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Erika_jpn_328" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="SpeakUp" />
    <meta property="og:description" content="SpeakUpで英語学習。スピーキング力を向上させよう!" />
    <meta property="og:image" content="<%= image_url "Xcard.png" %>" />
    <%= include_gon %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/1c1f3980e3.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B9J5YPVCY9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-B9J5YPVCY9');
    </script>
  </head>

  <body class="flex flex-col h-screen bg-base-100">
    <header class="rounded">
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    </header>
    <main class="flex-grow bg-[#fffffe]">
      <div class="lg:ml-64 md:ml-20 md:mb-36">
        <div id="flash">
          <%= render "shared/flash_messages" %>
        </div>
        <%= yield %>
        <input type="checkbox" id="my_modal" class="modal-toggle hidden"  />
        <div class="modal" role="dialog">
          <div class="modal-box">
            <%= render "words/new" %>
          </div>
          <label class="modal-backdrop" for="my_modal">Close</label>
        </div>
      </div>
    </main>
    <footer class="footer footer-center p-10 base-100 text-base-300 rounded mt-auto gap-y-1 bg-[#fffffe]">
      <div class="lg:ml-64 md:ml-20 min-[320px]:mb-10 md:mb-0">
        <%= render 'shared/footer' %>
      </div>
    </footer>
  </body>
  <script>
     if ('serviceWorker' in navigator) {
       window.addEventListener('load', () => {
         navigator.serviceWorker.register('/service_worker.js')
           .then((registration) => {
             console.log('Service Worker registered:', registration);
           })
           .catch((error) => {
             console.error('Service Worker registration failed:', error);
           });
       });
    }
  </script>
</html>
